# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
../.idea/

# Environments
.env
.venv
env/
venv/

# macOS
.DS_Store

# Specific file path to ignore
../src/preprocessing/pp_grip_kernel_fish_ts_scaling.py
../src/preprocessing/pp_grip_kernel_fish_ts.py
../src/preprocessing/pp_test_tree